@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

html { 
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
// colors
@c_download: #e7746f;
@c_tabtext: #676d79; 
@c_tabbackground: rgba(255,255,255,0.95);
@c_menutext: rgba(255,255,255,0.75);
@c_h2: rgba(255,255,255,0.5);

// minxiny


.clearfix {
	&:after { content: ''; display: table; clear: both; }
}

.headerbutton {
	border: 0.0625em solid @c_tabtext; /* 1/16 */
	border-radius: 0.3125em; /* 5/16 */
	padding: 0.8em 0.375em; /* 0/16 */ /* 6/16 */
	margin: 0.5em 0 0.5em 0.5em; /* 8/16 */ /* 8/16 */ /* 8/16 */
}

.menu-style{
	li { 
		display: inline; 
		float: left;
		padding: 0 0.875em; /* 14/16 */
	}
}

.section-headers{
	background: inherit; 
	display: inline-block; 
	padding: 20px 60px; 
	margin-top: -180px; 
	font-size: 14px;
	letter-spacing: .5em;
	text-transform: uppercase;
	position: relative;
}

.gradient-left {
	right:100%;
	background: linear-gradient(to top right, rgba(0, 0, 0, 0) 70%, #303030 100%);
}

.gradient-right {
	left: 100%;
	background: linear-gradient(to top left, rgba(0, 0, 0, 0) 70%, #303030 100%);
}
.gradient-hack {
	position: absolute;
	top: 19px;
	width: 20px;
	height: 20px;
	content: " ";
}

.font-icons{
	display: block;
	background: #484d55;
	width: 40px;
	height: 40px;
	border-radius: 50%;	
	color: #fff;		
	font-size: 26px;
	text-align: center;
	line-height: 40px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.details-btn {
	padding: 30px 45px; 
	margin: 80px 45px;
	border-radius: 6px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.075em;
}

.form-boxes {
	background: #ccc;
	box-shadow: none;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;

}


// less

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {	margin: 0px; padding: 0; border: 0; }
body { 
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}
a { text-decoration: none; }

// horna lista
.header {
	.clearfix;
	background-color: #ECF0F1;
	color: @c_tabtext;
	box-shadow: 0 0 1px 0 rgba(16,16,32,0.25), 0 0 2px 0 rgba(0,0,0,0.15);
	position: fixed; 
	width: 100%;
	z-index: 1;
	.title {
		float: left;
		font-size: 1.5em; /* 24/16 */
		margin: 0.5em 0.875em; /* 8/16 */ /* 14/16 */
	}
	.menu {
		.clearfix;
		.headerbutton;
		.menu-style;
		float: left;
		a {
			color: @c_tabtext;	
		}
	}
	.external {
		.headerbutton;
		float: left;
		width: 2.5em; /* 40/16 */
		padding: 0;
		text-align: center;
		line-height: 2.5em; /* 40/16 */
		color: @c_tabtext;
	}
	.actions {
		float: right;

		a {
		float: left;
		color: @c_tabtext;
		}
		.back {
			.headerbutton;
		}
		.download {
			.headerbutton;
			border: 1px solid @c_download;
			background: @c_download;
			color: #fff;
		}
	}
	.socials {
		.headerbutton;
		float: right;
		padding-bottom: 0.7em;
		.social {
			float: left;
			width: 120px;	
		}
		&:first-child {
			margin-top: 0; //preco nemozem pohnut fym sprostym fcbkom???
		}
	}
	
}

//cierna sekcia
.post-header {
	background: url('../img/banner.jpg') center center;
	background-size: cover;
	text-decoration: none;
	text-align: center;
	height: 500px;
	.menu {
		.menu-style;
		.headerbutton;
		.clearfix;
		margin: 100px auto 150px auto;
		border: 1px solid @c_h2;
		display: inline-block; //nastavenie automatickej sirky ramiku
		padding: 12px;
		a {
			color: @c_h2;
		}
	}
	h1 {
		margin: 0 auto;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		font-size: 30px; //preco nemozem dat display:inline-block?
		a {
			color: #fff;
		}
	}
	h2 {
		color: @c_h2;
		text-transform: uppercase;
		letter-spacing: 0.2em;
  		font-size: 12px;
  		display: inline-block;
  		margin-top: 16px;
	}
}
section {
	padding: 0 0 40px; text-align: center;
}

// cervena sekcia
.introduction{
	background: #e97770 url('../img/overlay.png');
	.section-title { 
		.section-headers;
		color: @c_menutext;
		&:before, &:after {
			.gradient-hack;
		}
		&:before {
			.gradient-left;
		}
		&:after {
			.gradient-right;
		}
	}
	.style1 {
		color: @c_menutext;
		margin: 70px auto;
		letter-spacing: 0.02em;
		font-size: 24px;
	}
	.style2 {
		font-size: 2.75em;
		letter-spacing: 0.075em;
		line-height: 1.35em;
		padding: 20px 40px;
		margin: 10px 60px;
		color: #fff;
		border: 1px solid @c_menutext;
		border-radius: 10px;
	}
	.style3 {
		margin: 50px 140px;
		font-size: 20px;
		color: @c_menutext;
		a {
			text-decoration: underline;
			color: #fff;
		}
		b {
			color:#fff;
		}
	}
	.style4{
		a {
			text-decoration: none;
			color: #fff;
			font-size: 18px;
			letter-spacing: 0.1em;
			padding: 18px 30px;
			background: #2f333b url('../img/overlay.png');
			display: inline-block;
			border-radius: 8px;	
			margin-bottom: 60px;
			}
	}	
}

//biela sekcia s fotkou
.details {
	background: #fff;
	.section-title { 
			.section-headers;
			color: #676d79;
			&:before, &:after {
				.gradient-hack;
			}
			&:before {
				.gradient-left;
			}
			&:after {
				.gradient-right;
			}
	}
	img {
		margin: 40px auto;
	}
	.style1 { 
		font-size: 28px;
		letter-spacing: 0.1em;
		color: #484d55;
		margin-top: 60px; 
		margin-bottom: 40px;
	}
	.style2 {
		color: #b1b4b9;
		display: block;
		font-size: 20px;
		letter-spacing: 0.075em;
		margin-bottom: 60px;
	}
	.row {
		text-align: left;
		display: inline-block;
		width: 400px;
		margin: 20px 40px;
		i {
			.font-icons;
			float: left;
		}
		h3 {
			color: #e97770;
		}
		p {
			color: #919499;
		}
		.row-left, .row-right {
			text-align: left;
			display: inline-block;
			width: 400px;
			margin: 20px 40px;
			}
	}	
	li {
		display: inline-block;
		list-style: none;
		margin-top: 60px;
		margin-bottom: 60px;
		.red-btn {
			background: #e97770;
			color: #fff;
			.details-btn;
		}
		.white-btn{
			.details-btn;
			color: #676d79;
			box-shadow: inset 0px 0px 2px 0px #a0a1a7;
		}
	}
}

//biela sekcia s viac fotkami
.endorsements {
	background: rgba(255,255,255,0.45) url('../img/overlay.png');
	.clearfix;
	.section-title { 
			.section-headers;
			color: #676d79;
			&:before, &:after {
				.gradient-hack;
			}
			&:before {
				.gradient-left;
			}
			&:after {
				.gradient-right;
			}
	}
	.style1 {
		display: block;
	}
	.style2 {
		display: inline-block;
		width: 300px;
		margin: 30px;
		img{
			margin-bottom: 40px;
		}
		.style3 {
			color: #e97770;
		}
		h3 {
			margin: 30px;
		}
		p {
			color: darkgrey;
			margin-bottom: 40px;
		}
		.style4 {
			background: #e97770;
			color: #fff;
			.details-btn;
			padding: 15px 25px;
		}

	}
}

//posledna cierna sekcia
.rest{
  	background: #282b34 url('../img/overlay.png');
	.section-title { 
		.section-headers;
		color: #fff;
	}
	.style1{
		color: #fff;
		font-size: 24px;
		letter-spacing: 0.3em;
		font-weight: 600;
		margin: 60px 0;
	}
	.style2 {
		color: #b1b4b9;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.3em;
		margin: 60px 0;
	}
}

//formular
.pre-footer {
	background: #282b34 url('../img/overlay.png');
	height: 450px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	.formular {
		width: 50%;
		float: left;
		.name-field {
			float: left;
			width: 48.4%; //margin between name-field and email-field is 10+10. width of the div is 625px so from width of each field had to be deducted 10/625=1,6%
			.form-boxes;
			margin-left: 0;
		}
		.email-field {
			float: left;
			width: 48.4%; //margin between name-field and email-field is 10+10. width of the div is 625px so from width of each field had to be deducted 10/625=1,6%
			.form-boxes;
			margin-right: 0;
		}
		.style3 {
			width: 100%;
			.text-field {
				.form-boxes;
				width: 100%;
	  			margin: 20px 0 0 0;
				height: 100px;
			}
		}
		.send-btn {
			.details-btn;
			color: #676d79;
			background: #e97770;
			&:hover {
				cursor: pointer;
			}
		}
		.submit-btn {
			.details-btn;
			background: none;
			border: 1px solid #ccc;
			color: #676d79;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.block-right {
		width: 50%;
		float: left;
		text-align: left;
		h3 {
			color: #e97770;
		}
		.quarter-left {
			width: 50%;
			float: left;
			h3 {
				margin-bottom: 20px;
				}
			.address {
				margin-left: 30px;
				i {
					.font-icons;
					margin: 0 10px 110px 0;
					float: left;
				}
				.contact-flow {
					flow: left;
					width: 200px;
				}
					p {
						color: #676d79;
						line-height: 26px;
						margin-bottom: 60px;
					}
			}
			.social {
				margin-left: 30px;
				i {
					.font-icons;
					margin: 0 10px 110px 0;
					float: left;
				}
				p {
					color: #FCFFF5;
					text-decoration: underline;
					line-height: 26px;
				}
			}
		}
		.quarter-right {
			width: 50%;
			float: left;
			h3 {
				margin-bottom: 20px;
				}
			.email {
				i {
					.font-icons;
					margin: 0 10px 110px 0;
					float: left;
				}
				p {
					color: #FCFFF5;
					text-decoration: underline;
					margin-bottom: 172px;
				}
			}
			.phone {
				i {
					.font-icons;
					margin: 0 10px 110px 0;
					float: left;
				}
				p {
					color: #676d79;
				}
			}
		}
	}
}

footer {
	background: #282b34 url('../img/overlay.png');
	color: rgba(255,255,255,0.25);
	height: 140px;
	text-align: center;
	div {
		.menu-style;
		.headerbutton;
		.clearfix;
		margin: 40px auto 0 auto;
		border: 1px solid @c_h2;
		display: inline-block; //nastavenie automatickej sirky ramiku
		padding: 12px;
		text-align: center;
		a {
			color: @c_h2;
		}
	}
	li{
		display: inline-block;
		padding: 10px 14px;
		
	}
	a {
		color: rgba(255,255,255,0.25);
		text-decoration: underline;

	}
}
























